.cont {width: 100%;text-align: center; height: 100px;padding-top: 50px;}
.il {display: inline; color: grey;}
.cr { margin-right: 20px; }

.contact {margin-right: 20px; }

.terms {margin-right: 20px; }