.a {
	display: inline;
}

.logo {
	margin-top: 10px;
	margin-left: 10px;
}
.avatar {
	position: absolute;
	top: 5px;
	right: 5px;
	border-radius: 50%;
	cursor: pointer;
}

.text {
	margin-left: 10px;
	text-decoration: underline;
}

.header-menu ul {
	background-color: #112a4d;
	padding-top: 10px!important;
	text-align: center;
	color: #f37c61;
	height: 30px;
}

.header-menu li {
	display: inline;
	margin-right: 10px;
}

button {
	width: 100%;
	border-radius: 50px;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #b1b1b2;
	border: solid #000;
}

.menu2 {
	padding-bottom: 5px;
	margin-bottom: 5px;
	border-bottom: solid #000;
}

table {
	margin-top: -8px;
	margin-bottom: -5px;
	background-color: #b1b1b2;
}